<ion-header>
  <ion-navbar color="primary">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>{{nombre_evento}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content class="common-bg">

  <div class="support-header">
    <img src='{{url_banner}}'>
  </div>
  <ion-fab right top>
      <button ion-fab color="primary" (click)="registerEvent()"><ion-icon name="add"></ion-icon></button>
  </ion-fab>

  <ion-grid fixed>
    <ion-row>
      <ion-col col-12 margin-bottom>
        <ion-card *ngIf="!events" class="primary-bg" margin-top>
          <ion-card-content>
            <p text-center class="text-white">Cargando eventos...</p>
          </ion-card-content>
        </ion-card>
        <ion-list>
            <ion-item-sliding *ngFor="let elemento of events">
              <button ion-item>
                  <ion-thumbnail item-start>
                      <img src="assets/img/logo.png">
                  </ion-thumbnail>
                  <h2>{{elemento.nombre}}</h2>
                  <p>Sitio encuentro: {{elemento.sitio_encuentro}}</p>              
                  <p>Fecha y hora: {{ elemento.fecha | date : 'dd-MM-yyyy h:mm a' }} </p>
              </button>

              <ion-item-options side="right">
                <button ion-button icon-only clear large item-end (click)="detailEvent(elemento)">
                  <ion-icon name="eye"></ion-icon>
                </button>
                <button ion-button icon-only clear large item-end color="third" (click)="confirmAssistance(elemento)">
                  <ion-icon name="star"></ion-icon>
                </button>
                <button ion-button icon-only clear large item-end color="secondary" (click)="shareElement(elemento)">
                  <ion-icon name="share"></ion-icon>
                </button>
              </ion-item-options>

            </ion-item-sliding>
        </ion-list>

      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
