page-detail-event {

    ion-textarea {
        border-bottom: 1px solid #000000;
        margin: 0px 5px;
    }
    
    p {
        text-align: justify;
    }
    
    .comment-box {
        overflow: scroll;
        height: 220px;
    }

    ion-content {
        background: rgb(229, 227, 223);
        #map {
        width: 100%;
        height: 50%;
        opacity: 0;
        transition: opacity 150ms ease-in;
        display: block;
        &.show-map{
            opacity: 1;
        }
        }
    }

}