<!-- -->
<ion-content class="auth-page vertical-align-content">
  <div class="login-content">

    <!-- Logo -->
    <div padding-horizontal text-center class="animated fadeInDown">
      <div class="logo"></div>
    </div>

    <div>
      <p text-center ion-text color="light">Genera tu contraseña:</p>
    </div>

    <!-- Register form -->
    <form [formGroup]="onRegisterForm" class="list-form">
      <ion-item>
        <ion-label floating>
          <ion-icon name="password" item-start class="text-white"></ion-icon>
          Contraseña
        </ion-label>
        <ion-input type="password" formControlName="password1"></ion-input>
      </ion-item>
      <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('password1').touched && onRegisterForm.get('password1').hasError('required')">Este campo es requerido</p>


      <ion-item>
        <ion-label floating>
          <ion-icon name="password" item-start class="text-white"></ion-icon>
          Repite tu contraseña
        </ion-label>
        <ion-input type="password" formControlName="password2"></ion-input>
      </ion-item>
      <p ion-text color="danger" class="text-1x has-error" *ngIf="onRegisterForm.get('password2').touched && onRegisterForm.get('password2').hasError('required')">Este campo es requerido</p>

    </form>

    <div margin-top>
      <button ion-button block color="dark" tappable (click)="crearUsuarioFireBase(onRegisterForm.get('password1').value, onRegisterForm.get('password2').value)" [disabled]="!onRegisterForm.valid">
        Generar
      </button>
      <button ion-button block color="dark" tappable (click)="step1()" [disabled]="onRegisterForm.valid">
        Atrás
      </button>
    </div>
  </div>
</ion-content>
